
<section class="hero has-background-grey-light is-fullheight is-fullwidth">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-4-desktop">
                    <form class="box">
                        <div class="field">
                            <label class="label"> NIM </label> 
                                <div class="controls">
                                    <input type="text" class="input" placeholder="NIM"></input>
                                </div>
                        </div>
                        <div class="field">
                            <label class="label"> Password </label> 
                                <div class="controls">
                                    <input type="password" class="input" placeholder="******"></input>
                                </div>
                        </div>
                        <div class="field">
                            <button class="button is-sucess is-fullwidth"> Login </button> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
